body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #0f172a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* ===== RESULT CARD ===== */
.container {
    width: 600px;
    background: #1e293b;
    padding: 35px;
    border-radius: 20px;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.6);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

/* ===== RISK STATUS ===== */
.high-risk {
    text-align: center;
    color: #ff4d4d;
    font-size: 22px;
    font-weight: bold;
}

.low-risk {
    text-align: center;
    color: #00ffae;
    font-size: 22px;
    font-weight: bold;
}

/* ===== DATA BOX ===== */
.result-box {
    margin-top: 20px;
    background: #334155;
    padding: 20px;
    border-radius: 12px;
}

.result-box p {
    margin: 8px 0;
    font-size: 15px;
}

/* ===== BUTTON ===== */
.btn {
    display: block;
    text-align: center;
    margin-top: 25px;
    padding: 12px;
    background: linear-gradient(90deg, #00c6ff, #0072ff);
    border-radius: 8px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 0.3s ease;
}

.btn:hover {
    transform: scale(1.05);
}